<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<div class="container-fluid mt-5">
  <p>Redirected with access grant:</p>
  <pre style="white-space: pre-wrap"><%- fullVc %></pre>
  <hr />
  <% if(fileContent){ %>
    <p>Fetched file content:</p>
    <pre style="white-space: pre-wrap"><%- fileContent %></pre>
    <div></div>
  <% } else{ %>  
    <p>Access to <%- resourceUrl %> denied</p>
 <% } %>

</div>
